apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -o kubernetes/
    kompose.version: 1.34.0 (HEAD)
  labels:
    io.kompose.service: history-svc
  name: history-svc
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: history-svc
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -o kubernetes/
        kompose.version: 1.34.0 (HEAD)
      labels:
        io.kompose.service: history-svc
    spec:
      containers:
        - env:
            - name: API_PREFIX
              value: /api/v1
            - name: AZURE_ACCOUNT_NAME
              valueFrom:
                secretKeyRef:
                  name: history-secrets
                  key: AZURE_ACCOUNT_NAME
            - name: AZURE_ANALYTICS_CONTAINER_NAME
              valueFrom:
                secretKeyRef:
                  name: history-secrets
                  key: AZURE_ANALYTICS_CONTAINER_NAME
            - name: AZURE_IMAGES_CONTAINER_NAME
              valueFrom:
                secretKeyRef:
                  name: history-secrets
                  key: AZURE_IMAGES_CONTAINER_NAME
            - name: AZURE_SAS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: history-secrets
                  key: AZURE_SAS_TOKEN
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: history-secrets
                  key: JWT_SECRET
            - name: KAFKA_HOST
              valueFrom:
                secretKeyRef:
                  name: history-secrets
                  key: KAFKA_HOST
            - name: MONGOURL
              valueFrom:
                secretKeyRef:
                  name: history-secrets
                  key: MONGOURL
            - name: NODE_ENV
              value: production
            - name: PATIENT_SVC
              valueFrom:
                secretKeyRef:
                  name: history-secrets
                  key: PATIENT_SVC
            - name: APPOINTMENT_SVC
              valueFrom:
                secretKeyRef:
                  name: history-secrets
                  key: APPOINTMENT_SVC
          image: ghcr.io/fis2425/history-svc:latest
          name: history-svc
          ports:
            - containerPort: 3005
              protocol: TCP
      restartPolicy: Always
